---
layout: default
title: "Thanks!"
description: "Sign up to the newsletter"
sitemap: false
---

{% include header.html %}

<main class="g-banner np-banner {{ site.postPatterns | prepend: 'post-pattern-' }} colorful-banner newsletter-thanks" data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
        <h1 id="main">Thanks! &#x1F64C;</h1>
        <span class="subheading" id="alt">I'd just like to thank you for signing up to my newsletter &mdash; it means a lot to me, and gives me motivation to keep producing great content each week. If you want to chat about anything, you can email me via <span class="email link"></span>.</span>
        <a href="https://www.producthunt.com/posts/code-the-web-weekly/" class="ph-button card-style">DEFINITELY DON'T UPVOTE THIS ON PRODUCT HUNT 	&#x1F63B;</a>
        {% comment %}{% include bmc.html %}{% endcomment %}
        <a href="{{ site.nav.home }}" class="btn" id="back-to-home">Back to home</a>
    </div>
</main>