---
layout: default
image: "/assets/img/newsletter-og.png"
title: "Weekly Newsletter"
description: "The best resources to learn web development &mdash; A weekly email packed with tutorials from Code The Web and around the internet."
---
<!-- OG Image responsive screenshot size: 981x732 -->

{% include header.html %}
<div class="newsletter-page">
    <section class="newsletter-header">
        <div>
            <div class="code-the-web-weekly-logo">Code The Web Weekly</div>
            <h1>The best resources to learn web development</h1>
            <h2 class="subheading">A weekly email packed with tutorials from Code The Web and around the internet.</h2>
        </div>
    </section>
    <main>
        {% include newsletter.html %}
        <div class="leading-text">Still not convinced?</div>
        <h1 class="example-newsletter-title">An example newsletter</h1>
        <iframe class="preview card-style" src="/newsletter-preview.html" scrolling="no" onload="resizeIframe(this)"></iframe>
        <div class="leading-text">You've read all the way down now, how can you not be interested??? &#x1F602;&#x1F602;&#x1F602;<br>Sign up already!!</div>
        {% include newsletter.html %}
        <div class="leading-text"><br><br><br><br>If you don't then I'll cry :(</div>
    </main>
</div>


<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>