---
layout: default
header-img: "/assets/img/hero.jpg"
title: "Sponsor"
description: "Get featured on this site in return for a link on yours."
---

{% include header.html %}

<div class="g-banner home-banner learn-lang-banner {{ site.theme-color | prepend: 'banner-theme-' }} post-pattern-{{ site.postPatterns }}" data-theme="{{ site.theme-color }}">
   <div class="learn-lang-banner-inner">
    <h1>Get featured on this site</h1><h2>In return for a link on yours</h2>
    </div>
    {% if page.header-img %}
    <img class="header-img" src="{{ site.baseurl }}{{ page.header-img }}" alt="">
    {% endif %}
</div>
<div class="post-content learn-lang-content">
    <div class="markdown-body">
        <div class="codetheweb-learn">Sponsor <i class="iconfont icon-logo"></i></div>
            <p>Do you own a site with a relatively good <a href="http://www.checkmoz.com/moz-metrics/">page authority</a>? In that case, if you link to my site I am more than happy to link to yours in the <a href="/#sponsors">sponsors section</a>.</p>
            <p>If you enjoy Code The Web or think it is a good thing to promote and want a link to your site, you should take me up on this offer.</p>
            <p>For more info or to arrange a deal, please email me at <span class="email sponsor"></span>.</p>
            <p>Thanks!</p>
            
            <p><b>NOTE:</b> Even if your page authority is not great, still email me and we can talk.</p>
            <p><i><b>Disclaimer: I reserve the right to accept or decline your offer.</b></i></p>
    </div>
</div>


{% include footer.html %}