---
layout: default
title: Thanks to these Patrons for making Code The Web possible! &#x1F44F;&#x1F496;
description: These amazing people have all pledged their money to keep Code The Web thriving and prosperous! You can too...
image: /assets/img/patreon-logo.png
---

{% include header.html %}

<style>
/* HIDE UPCOMING WIDGET */
    #ph-upcoming-widget {
        display: none !important;
    }
</style>

<div class="patron-page">
    <div class="post-content book-page-content" id="content">
        <div class="markdown-body patron-grid">
            <h1>Thanks for making Code The Web possible! &#x1F44F;&#x1F496;</h1>
            <section class="sponsor">
                <h2>&#x1F984; Major Sponsor &#x1F984;</h2>
                <ul>
                    <li class="add"><a href="https://www.patreon.com/bePatron?c=1284969&rid=2556012">Claim this spot! ($100/month)</a></li>
                </ul>
            </section>
            <section class="hardcore">
                <h2>🥇 Hardcore supporters:</h2>
                <ul>
                    <li class="add"><a href="https://www.patreon.com/bePatron?c=1284969&rid=2556102">Add yourself! ($25/mo)</a></li>
                </ul>
            </section>
            <section class="awesome">
                <h2>🥈 Awesome supporters:</h2>
                <ul>
                    <li class="add"><a href="https://www.patreon.com/bePatron?c=1284969&rid=2556100">Add yourself! ($5/mo)</a></li>
                </ul>
            </section>
            <section class="basic">
                <h2>🥉 Basic supporters:</h2>
                <ul>
                    <li>PixelFireblade</li>
                    <li class="add"><a href="https://www.patreon.com/bePatron?c=1284969&rid=2556096">Add yourself! ($1/mo)</a></li>
                </ul>
            </section>
            <section class="patreon-promo">
                <a href="https://www.patreon.com/CodeTheWebBlog"><img src="/assets/img/become-a-patron.png"></a>
            </section>
        </div>
    </div>
</div>

{% include footer.html %}
