---
layout: default
title: "&#x1F381; Your FREE guide to learning HTML! &#x1F381;"
image: /assets/img/guide-to-learning-html-promo.png
description: "Get it when you sign up for the weekly newsletter &mdash; an email with the awesomest articles from Code The Web and around the internet to help you learn web development &#x1F680;&#x1F496;"
---
{% include header.html %}
<section class="freebie-hero">
    {% include guide-to-learning-html-freebie-hero.html %}
</section>
<section class="freebie-explanation">
    <a href="/newsletter">I'll send you a weekly email with the awesomest articles from Code The Web and around the internet to help you learn web development &#x1F680;&#x1F496;</a>
</section>