<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>{% include js/prism.js %}</script>
<script>{% include js/index.min.js %}</script>
<script>{% include js/links.min.js %}</script>
<script>{% include js/my-lazyload.js %}</script>
<script>{% include js/emailguard.js %}</script>
<div id="backlinks">
    <a href="https://www.alexa.com/siteinfo/codetheweb.blog">Alexa page</a>
    <a href="https://www.youtube.com/channel/UC851X4OzkMLMngGJI28PWnA">YouTube Channel</a>
    <a href="https://websites.milonic.com/codetheweb.blog">Milonic page</a>
    <a href="https://www.reddit.com/r/learnprogramming/comments/79fcve/learn_web_development_on_my_awesome_blog/">Reddit 1</a>
    <a href="https://www.reddit.com/r/coding/comments/79fe1b/learn_web_development_with_my_new_blog_code_the/">Reddit 2</a>
    <a href="https://www.mywot.com/en/scorecard/codetheweb.blog">Web Of Trust page</a>
    
    <div id="backlinks-guestposts">
        <a href="https://codeburst.io/how-the-internet-works-a240448b409e">How the internet works - guest post on Codeburst</a>
    </div>
</div>
