<script>{% include js/onIdle.js %}</script>
<!-- Basin tracking code (requires jQuery first) -->
<!-- <script src="https://usebasin.com/f/01ede12f14de/ahoy.js" async defer></script> -->
<script src="/assets/js/prism.js?v=1" defer async></script>
<script src="/assets/js/index.js?v=2" defer></script>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@300;400;600;700&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css"> -->
{% comment %}
<div id="backlinks">
    <a href="https://simpleprogrammer.com/blogging-course-graduates/">Simple Programmer Blogging Course Graduates</a>
    
    <a href="https://www.alexa.com/siteinfo/codetheweb.blog">Alexa page</a>
    
    <a href="https://www.youtube.com/channel/UC851X4OzkMLMngGJI28PWnA">YouTube Channel</a>
    
    <a href="https://websites.milonic.com/codetheweb.blog">Milonic page</a>

    <a href="https://www.mywot.com/en/scorecard/codetheweb.blog">Web Of Trust page</a>
    
    <a href="https://www.briefs.fm/3-minutes-with-kent/57">3 Minutes with Kent</a>
    
    <div id="backlinks-guestposts">
        <a href="https://codeburst.io/how-the-internet-works-a240448b409e">How the internet works - guest post on Codeburst</a>
    </div>
    
    <div id="backlinks-reddit">
        <a href="https://www.reddit.com/r/learnprogramming/comments/79fcve/learn_web_development_on_my_awesome_blog/">Reddit 1</a>
        <a href="https://www.reddit.com/r/coding/comments/79fe1b/learn_web_development_with_my_new_blog_code_the/">Reddit 2</a>
        <a href="https://www.reddit.com/r/learnprogramming/comments/7c7rd5/i_just_finished_writing_9_tutorials_on_html/">I just finished writing 9 tutorials on HTML - Reddit</a>
    </div>
    
</div>
{% endcomment %}