<div class="left">
    <h1>Your FREE guide to learning HTML! &#x1F381;</h1>
    <h2>Simply enter your email to get it</h2>
    <form class="newsletter-form" action="https://docs.google.com/forms/d/e/1FAIpQLSeDK3GjtHIGm-eE6mESyo02WM_z185o7FQdVTB-LpfQxNzslA/viewform#i.desc.931605569">
        <input type="email" placeholder="Enter your email" name="entry.24047540" class="card-style" required>
        <input type="submit" value="Here we go..." class="card-style">
        <div class="note">I'll never share your email with anyone, and hate spam as much as you do.</div>
    </form>
</div>

<img src="/assets/img/guide-to-learning-html-teaser.png" class="teaser">