<div class="left">
    <h1>Your FREE guide to learning HTML! &#x1F381;</h1>
    <h2>Get it when you sign up for the <a href="/newsletter">weekly newsletter</a>:</h2>
    {% include newsletter-form.html %}
</div>

<img src="/assets/img/guide-to-learning-html-teaser-compressed.png" loading="lazy" class="teaser" alt="Low-quality preview of the Guide to Learning HTML">
   
<script>
    function input(elem) {
        elem.querySelector('.extra').style.height = elem.querySelector('.extra .measurer').getBoundingClientRect().height + 'px';
    }

    function blurred(elem) {
        elem.querySelector('.extra').style.height = '0px';
        console.log('BLURRed')
    }
</script>