{% capture title %}{% if page.title %}{{ page.title }}{% unless page.home-title %} - {{ site.title }}{% endunless %}{% else %}{{ site.title }}{% endif %}{% endcapture %}

{% capture description %}{% if page.layout == "learn" %}Learn {{page.language}}, the language for {{page.purpose}} at Code The Web{% elsif page.description %}{{page.description}}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

{% capture keywords %}{{ site.keyword }}{% if page.tags.size > 0 %}, {% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}{% endcapture %}

{% capture image %}{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/img/icon1.png{% endif %}{% endcapture %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <!-- Open Graph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Real Favicon Generator -->
    <!-- From https://realfavicongenerator.net/favicon_result?file_id=p1br6ah5so7lk102b1dnr1eh516fe6#.Wc4AtBOCx8c (modified - icon directory has been changed -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/website-icons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/website-icons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/website-icons/android-chrome-192x192.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/website-icons/favicon-16x16.png?v=1">
    <link rel="manifest" href="/assets/website-icons/manifest.json?v=1">
    <link rel="mask-icon" href="/assets/website-icons/safari-pinned-tab.svg?v=1" color="#fa709a">
    <link rel="shortcut icon" href="/assets/website-icons/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/assets/website-icons/mstile-144x144.png?v=1">
    <meta name="msapplication-config" content="/assets/website-icons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#ffc83e">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="/assets/css/theme_styles_combined.css">
    <link rel="stylesheet" href="/assets/css/style.css?{{site.time | date: '%s%N'}}">
    {% if jekyll.environment == "production" %}
    <!-- Google Analytics -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-103555680-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-103555680-4');
    </script>
    {% endif %}
    <!-- Smooth scroll -->
    <script defer src="https://cdn.rawgit.com/alicelieutier/smoothScroll/master/smoothscroll.min.js"></script>
</head>