<div class="in-post-stream social card-style">
    <div class="explainer">Find Code The Web on:</div>
    <div class="networks-wrapper">
        <a href="{{site.social.reddit}}" class="network card-style reddit" target="_blank"><i class="icon-reddit"></i><span class="username">&nbsp;&nbsp;<!-- u/ -->CodeTheWebBlog</span></a>
        <a href="{{site.social.twitter}}" class="network card-style twitter" target="_blank"><i class="icon-twitter"></i><span class="username">&nbsp;&nbsp;<!-- @ -->CodeTheWebBlog</span></a>
    </div>
</div>