<div class="in-post-stream social card-style">
    <div class="explainer">Find Code The Web on:</div>
    <div class="networks-wrapper">
        <a rel="noreferrer noopener" href="{{site.social.reddit}}" class="network card-style reddit" target="_blank">Reddit<span class="username"> &mdash; u/CodeTheWebBlog</span></a>
        <a rel="noreferrer noopener" href="{{site.social.twitter}}" class="network card-style twitter" target="_blank">Twitter<span class="username"> &mdash; @CodeTheWebBlog</span></a>
    </div>
</div>