<div class="in-post-stream newsletter card-style">
    <div>Get the latest web development tutorials straight to your inbox:</div>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSeDK3GjtHIGm-eE6mESyo02WM_z185o7FQdVTB-LpfQxNzslA/viewform#i.desc.931605569">
        <input type="email" placeholder="Enter your email" name="entry.24047540" class="card-style" required>
        <input type="submit" value="Here we go..." class="card-style">
    </form>
    <div class="note">I'll never share your email with anyone, and hate those people who say they hate spam on signup forms.</div>
</div>