<div class="in-post-stream newsletter card-style">
    <div class="explainer">Get a weekly email filled with resources to learn web development <a href="{{site.newsletter}}" style="font-weight: normal">(more info)</a></div>
    {% include newsletter-form.html %}
</div>
<script>
    function input(elem) {
        elem.querySelector('.extra').style.height = elem.querySelector('.extra .measurer').getBoundingClientRect().height + 'px';
    }

    function blurred(elem) {
        elem.querySelector('.extra').style.height = '0px';
        console.log('BLURRed')
    }
</script>