{% assign home = page.home %}
<style>@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');</style>
{% unless home %}<div class="social-share-wrapper">{% endunless %}
    <div class="social-share{% if home %} social-share-home card-style{% endif %}">
       {% if home %}<span>Feeling nice?</span>{% endif %}
        {% include email-link.html %}
    </div>
{% unless home %}</div>{% endunless %}
{% include share-overlay.html %}
<script src="/assets/js/social-share.min.js"></script>
<script>
    socialShare('.social-share', {
        sites: [{% for i in site.social-share-items %}'{{ i }}'{% if forloop.last == false %},{% endif %}{% endfor %}],
        wechatQrcodeTitle: "分享到微信朋友圈",
        wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
    });
</script>