<a name="share"></a>
<div class="social-share-wrapper" id="share">
    <div class="social-share-close" onclick="closeShare()" title="Close"></div>
    <div class="social-share-close-x" onclick="closeShare()" title="Close">X</div>
    <div class="social-share">
        {% include email-link.html %}
    </div>
    <script>
        newHashMaybe();
        var elements = document.getElementsByTagName('a');
        for (var i = 0, len = elements.length; i < len; i++) {
            elements[i].onmouseup = function () {
                setTimeout(newHashMaybe, 10);
            }
        }

        function newHashMaybe() {
            console.log('new');
            if (location.hash == '#share') {
                document.body.classList.add("stop-scrolling");
            }
        }

        function closeShare() {
            document.body.classList.remove("stop-scrolling");
            location.hash = '_';
        }
    </script>
</div>