    {% if site.social-share %}
    <a name="share"></a>
    <div class="social-share-wrapper" id="share">
        <div class="social-share-close" onclick="closeShare()" title="Close"></div>
        <div class="social-share-close-x" onclick="closeShare()" title="Close">X</div>
        <div class="social-share"></div>
        <script>
            newHashMaybe();
            var elements = document.getElementsByTagName('a');
                for(var i = 0, len = elements.length; i < len; i++) {
                    elements[i].onmouseup = function () {
                        setTimeout(newHashMaybe,10);
                }
            }
            function newHashMaybe(){
                console.log('new');
                if(location.hash == '#share') {
                    document.body.classList.add("stop-scrolling");
                }
            }
            function closeShare() {
                document.body.classList.remove("stop-scrolling");
                location.hash = '_';
            }
        </script>
    </div>
    <script src="/assets/js/social-share.min.js"></script>
    <script>
        socialShare('.social-share', {
            sites: [{% for i in site.social-share-items %}'{{ i }}'{% if forloop.last == false %},{% endif %}{% endfor %}],
            wechatQrcodeTitle: "分享到微信朋友圈",
            wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
        });
    </script>
    {% endif %}