<div class="top-index-content">
    <h2 class="tagline">Web development explained for normal people! <!-- &#x1F389; -->&#x1F5A5; &#x1F680;</h2>
    <div class="learn-cta-wrapper">
        <a href="/learn/html">Learn HTML</a>
        <a href="/learn/css">Learn CSS</a>
        <a href="/learn/javascript">Learn JavaScript</a>
    </div>
    <a href="/2017/10/04/how-to-learn-web-development/" class="learn-cta-what-to-learn">Don't know which to learn first?</a>
    {% include newsletter.html %}
</div>