<div class="top-index-content">
    <h2 class="tagline">Web development explained for normal people! {% comment %}&#x1F389;{% endcomment %}&#x1F5A5; &#x1F680;</h2>
    <div class="learn-cta-wrapper">
        <a href="/learn/html">HTML Tutorials</a>
        <a href="/learn/css">CSS Tutorials</a>
        <a href="/learn/javascript">JavaScript Tutorials</a>
    </div>
    <a href="/how-to-learn-web-development/" class="learn-cta-what-to-learn">Don't know which to learn first?</a>
    {% comment %}{% include newsletter.html %}{% endcomment %}
</div>