// Taken from the inline styles added by the Ethical Ads JS script
// All stuff commented out was done so by me because it is unused.
[data-ea-publisher].loaded,
[data-ea-type].loaded {
 font-size:14px;
 //font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
 font-weight:normal;
 font-style:normal;
 leter-spacing:0px;
 vertical-align:baseline;
 line-height:1.3em
}
[data-ea-publisher].loaded a,
[data-ea-type].loaded a {
 text-decoration:none
}
[data-ea-publisher].loaded .ea-pixel,
[data-ea-type].loaded .ea-pixel {
 display:none
}
[data-ea-publisher].loaded .ea-content,
[data-ea-type].loaded .ea-content {
 margin:1em 1em 0.5em 1em;
 padding:1em;
 background:rgba(0,0,0,0.03);
 color:#505050
}
[data-ea-publisher].loaded .ea-content a:link,
[data-ea-type].loaded .ea-content a:link {
 color:#505050
}
[data-ea-publisher].loaded .ea-content a:visited,
[data-ea-type].loaded .ea-content a:visited {
 color:#505050
}
[data-ea-publisher].loaded .ea-content a:hover,
[data-ea-type].loaded .ea-content a:hover {
 color:#373737
}
[data-ea-publisher].loaded .ea-content a:active,
[data-ea-type].loaded .ea-content a:active {
 color:#373737
}
[data-ea-publisher].loaded .ea-content a strong,
[data-ea-publisher].loaded .ea-content a b,
[data-ea-type].loaded .ea-content a strong,
[data-ea-type].loaded .ea-content a b {
 color:#088cdb
}
[data-ea-publisher].loaded .ea-callout a:link,
[data-ea-type].loaded .ea-callout a:link {
 color:#6a6a6a
}
[data-ea-publisher].loaded .ea-callout a:visited,
[data-ea-type].loaded .ea-callout a:visited {
 color:#6a6a6a
}
[data-ea-publisher].loaded .ea-callout a:hover,
[data-ea-type].loaded .ea-callout a:hover {
 color:#505050
}
[data-ea-publisher].loaded .ea-callout a:active,
[data-ea-type].loaded .ea-callout a:active {
 color:#505050
}
[data-ea-publisher].loaded .ea-callout a strong,
[data-ea-publisher].loaded .ea-callout a b,
[data-ea-type].loaded .ea-callout a strong,
[data-ea-type].loaded .ea-callout a b {
 color:#088cdb
}
[data-ea-publisher].loaded .ea-callout a,
[data-ea-type].loaded .ea-callout a {
 font-size:0.8em
}
[data-ea-publisher].loaded.dark .ea-content,
[data-ea-type].loaded.dark .ea-content {
 background:rgba(255,255,255,0.05);
 color:#dcdcdc
}
[data-ea-publisher].loaded.dark .ea-content a:link,
[data-ea-type].loaded.dark .ea-content a:link {
 color:#dcdcdc
}
[data-ea-publisher].loaded.dark .ea-content a:visited,
[data-ea-type].loaded.dark .ea-content a:visited {
 color:#dcdcdc
}
[data-ea-publisher].loaded.dark .ea-content a:hover,
[data-ea-type].loaded.dark .ea-content a:hover {
 color:#f6f6f6
}
[data-ea-publisher].loaded.dark .ea-content a:active,
[data-ea-type].loaded.dark .ea-content a:active {
 color:#f6f6f6
}
[data-ea-publisher].loaded.dark .ea-content a strong,
[data-ea-publisher].loaded.dark .ea-content a b,
[data-ea-type].loaded.dark .ea-content a strong,
[data-ea-type].loaded.dark .ea-content a b {
 color:#50baf9
}
[data-ea-publisher].loaded.dark .ea-callout a:link,
[data-ea-type].loaded.dark .ea-callout a:link {
 color:#c3c3c3
}
[data-ea-publisher].loaded.dark .ea-callout a:visited,
[data-ea-type].loaded.dark .ea-callout a:visited {
 color:#c3c3c3
}
[data-ea-publisher].loaded.dark .ea-callout a:hover,
[data-ea-type].loaded.dark .ea-callout a:hover {
 color:#dcdcdc
}
[data-ea-publisher].loaded.dark .ea-callout a:active,
[data-ea-type].loaded.dark .ea-callout a:active {
 color:#dcdcdc
}
[data-ea-publisher].loaded.dark .ea-callout a strong,
[data-ea-publisher].loaded.dark .ea-callout a b,
[data-ea-type].loaded.dark .ea-callout a strong,
[data-ea-type].loaded.dark .ea-callout a b {
 color:#50baf9
}
[data-ea-publisher].loaded .ea-content,
[data-ea-type].loaded .ea-content {
 border:0px;
 border-radius:3px;
 box-shadow:0px 2px 3px rgba(0,0,0,0.15)
}
[data-ea-publisher].loaded.raised .ea-content,
[data-ea-type].loaded.raised .ea-content {
 border:0px;
 border-radius:3px;
 box-shadow:0px 2px 3px rgba(0,0,0,0.15)
}
[data-ea-publisher].loaded.bordered .ea-content,
[data-ea-type].loaded.bordered .ea-content {
 border:1px solid rgba(0,0,0,0.04);
 border-radius:3px;
 box-shadow:none
}
[data-ea-publisher].loaded.bordered.dark .ea-content,
[data-ea-type].loaded.bordered.dark .ea-content {
 border:1px solid rgba(255,255,255,0.07)
}
[data-ea-publisher].loaded.flat .ea-content,
[data-ea-type].loaded.flat .ea-content {
 border:0px;
 border-radius:3px;
 box-shadow:none
}
/*
[data-ea-type="image"].loaded,
[data-ea-publisher]:not([data-ea-type]).loaded {
 display:inline-block
}
[data-ea-type="image"].loaded .ea-content,
[data-ea-publisher]:not([data-ea-type]).loaded .ea-content {
 max-width:180px;
 overflow:auto;
 text-align:center
}
[data-ea-type="image"].loaded .ea-content>a>img,
[data-ea-publisher]:not([data-ea-type]).loaded .ea-content>a>img {
 width:120px;
 height:90px;
 display:inline-block
}
[data-ea-type="image"].loaded .ea-content>.ea-text,
[data-ea-publisher]:not([data-ea-type]).loaded .ea-content>.ea-text {
 margin-top:1em;
 font-size:1em;
 text-align:center
}
[data-ea-type="image"].loaded .ea-callout,
[data-ea-publisher]:not([data-ea-type]).loaded .ea-callout {
 max-width:180px;
 margin:0em 1em 1em 1em;
 padding-left:1em;
 padding-right:1em;
 font-style:italic;
 text-align:right
}
[data-ea-type="image"].loaded.horizontal .ea-content,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-content {
 max-width:320px
}
[data-ea-type="image"].loaded.horizontal .ea-content>a>img,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-content>a>img {
 float:left;
 margin-right:1em
}
[data-ea-type="image"].loaded.horizontal .ea-content .ea-text,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-content .ea-text {
 margin-top:0em;
 text-align:left;
 overflow:auto
}
[data-ea-type="image"].loaded.horizontal .ea-callout,
[data-ea-publisher]:not([data-ea-type]).loaded.horizontal .ea-callout {
 max-width:320px;
 text-align:right
}
*/
[data-ea-type="text"].loaded {
 font-size:14px
}
[data-ea-type="text"].loaded .ea-content {
 text-align:left
}
[data-ea-type="text"].loaded .ea-callout {
 margin:0.5em 1em 1em 1em;
 padding-left:1em;
 padding-right:1em;
 text-align:right;
 font-style:italic
}