.social-share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;;

  > *:not(a) {
    width: 100%;
  }
}
.social-share .social-share-icon {
  border-radius: 3em;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
}
.social-share .social-share-icon:hover {
  background: #666;
  color: #fff;
}
.social-share .icon-linkedin {
  color: #0077b5;
  border-color: #0077b5;
}
.social-share .icon-linkedin:hover {
  background: #0077b5;
}
.social-share .icon-facebook {
  color: #44619d;
  border-color: #44619d;
}
.social-share .icon-facebook:hover {
  background: #44619d;
}
.social-share .icon-twitter {
  color: #55acee;
  border-color: #55acee;
}
.social-share .icon-twitter:hover {
  background: #55acee;
}