$banner-shadow: 0 4px 100px rgba(0, 38, 55, 0.31);
$theme-color-hue: 12;
$theme-color-sat: 79%;
$theme-color-single: hsl($theme-color-hue, $theme-color-sat, 72%);
$theme-color-single-dark: hsl($theme-color-hue, $theme-color-sat, 20%);
$page-bg: hsl($theme-color-hue, $theme-color-sat, 98%);
$ad-bg-color: hsl(7, 22%, 93%);
$sans-serif: 'Product Sans', 'Google Sans', 'Montserrat', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Roboto Slab', ui-serif, 'New York', 'New York Medium', 'New York Large', 'New York Small', 'New York Extra Large', 'Noto Serif', 'Droid Serif', 'Georgia', 'PT Serif', 'Palatino', serif;
$fancy-serif: 'Libre Baskerville', $serif;
$monospace: 'Roboto Mono', ui-monospace, 'SF Mono', 'Noto Mono', 'Noto Sans Mono', 'Droid Mono', 'Droid Sans Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;