---
---

@import "variables";

body {
  margin-top: 0 !important;
}

html,
body,
.open-page-wrapper {
  height: 100%;
}

.open-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;

  .open-page {
    width: 800px;
    max-width: 100%;

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    .home-link {
      display: inline-block;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .open-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .open-grid-item {
        background: $theme-color-single;
        color: white;
        padding: 1rem;
        border-radius: 10px;

        .open-grid-item-number {
          font-size: 5rem;
        }

        .open-grid-item-text {
          .open-grid-item-text-updated {
            opacity: .5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .open-page-wrapper .open-page .open-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 390px) {
  .open-page-wrapper .open-page .open-grid .open-grid-item .open-grid-item-number {
    font-size: 3.5rem;
  }
}