@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Homemade+Apple|Karla|Montserrat:400,700');

body {
    margin: 0;
    width: auto;
    height: auto;
    color: white;
    background: linear-gradient(100deg,#ffce69,#fa709a);
    -webkit-font-smoothing: initial;
    background-attachment: fixed;
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    padding-bottom: 0.2em;
    border-bottom: 0.25em solid white;
    margin-bottom: 0.7em;
}

h1, h1 *, h2, h2 * {
    font-size: 4.4vw !important;
}

h3, h3 * {
    font-size: 2.5vw !important;
}
body > section {
    width: auto;
    min-height: 70vh;
    padding: 15vh 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .inner * {
    width: auto;
    border: none;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

#hero .scroll-down {
    font-family: 'Homemade Apple', 'Annie Use Your Telescope', cursive;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    transform: rotate(-5deg);
}

#newsletter {
    font-size: 2.5vw;
    padding-left: 1em;
    padding-top: 0.2em;
    position: sticky;
    top: 0;
    background: linear-gradient(100deg,#ffce69,#fa709a);
    background-attachment: fixed;
}

#tutorials .inner > section {
    margin: 50px 0;
}

#tutorials h3 {
    /* text-align: center; */
}

#tutorials ol {
    padding-left: 1em;
}

#tutorials li {
    line-height: 1.5em;
}