<!DOCTYPE html>
<html>
{% include head.html %}
<body class="flat {% if page.home %}home{% endif %} {% unless page.no-ph-banner %}has-ph-banner-NOT-ANYMORE{% endunless %}">
   {% include ph-banner.html %}
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">You are using an older browser - please upgrade to a newer browser.！<a target="_blank" class="alert-link" href="http://browsehappy.com">Upgrade now</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    {{ content }}
    {% include end.html %}
</body>
</html>