---
layout: default
---
{% include header.html %}
<section class="freebie-hero">
    <div class="left">
        <h1>{{page.heading}}</h1>
        <h2>{{page.subheading}}</h2>
        <form class="newsletter-form" action="https://docs.google.com/forms/d/e/1FAIpQLSeDK3GjtHIGm-eE6mESyo02WM_z185o7FQdVTB-LpfQxNzslA/viewform#i.desc.931605569">
            <input type="email" placeholder="Enter your email" name="entry.24047540" class="card-style" required>
            <input type="submit" value="Here we go..." class="card-style">
            <div class="note">I'll never share your email with anyone, and hate spam as much as you do.</div>
        </form>
    </div>
    
    <img src="{{page.img}}" class="teaser">
</section>
<section class="freebie-explanation">
    <p>I'll also send you a weekly email with the awesomest articles from Code The Web and around the internet to help you learn web development &#x1F680;&#x1F496;</p>
</section>