---
layout: default
header-img: "/assets/img/hero.jpg"
---

{% include header.html %}

<div id="learn-{{page.language}}-banner" class="g-banner learn-lang-banner">
   <div class="learn-lang-banner-inner">
    <h1>Learn {{page.language}}</h1><h2>The language for {{ page.purpose }}</h2>
    </div>
    {% if page.header-img %}
    <img class="header-img" src="{{ site.baseurl }}{{ page.header-img }}" alt="">
    {% endif %}
</div>
<div class="post-content learn-lang-content" id="content">
    <div class="markdown-body">
        <div class="codetheweb-learn"><a href=".." target="_self"><i class="iconfont icon-logo"></i> Learn</a></div>
        {{content}}
    </div>
</div>


{% include footer.html %}