---
layout: compress
---

{% capture tags_str %}{{ page.tags  | join: "," }}{% endcapture %}
{% unless tags_str contains "Other" %}
{% capture lang %}{% if tags_str contains "JavaScript" %}JavaScript{% elsif tags_str contains "CSS" %}CSS{% elsif tags_str contains "HTML" %}HTML{% endif %}{% endcapture %}
{% capture lang_downcase %}{{lang | downcase}}{% endcapture %}
{% endunless %}

<!DOCTYPE html>
<html>
{% include head.html %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "url": "codetheweb.blog",
        "datePublished": "{{page.date}}",
        "dateModified": "{{page.date}}",
        "author": {
            "type": "Person",
            "name": "Ethan",
            "url": "https://ethan.link/"
        },
        "publisher": {
            "type": "Organization",
            "name": "Code The Web",
            "url": "{{site.url}}",
            "logo": "{{ site.url }}/assets/img/icon1.png"
        },
        "headline": "{{page.title}}",
        "image": "{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/img/icon1.png{% endif %}"
    }
</script>
<body class="post has-sidebar {% if site.ph-banner %}has-ph-banner{% endif %}">
{% include ph-banner.html %}
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">You are using an older browser - please upgrade to a newer browser.！<a target="_blank" class="alert-link" href="http://browsehappy.com">Upgrade now</a></div>
<![endif]-->
<input id="nm-switch" type="hidden" value="{{ site.nightMode }}">

{% include header.html %}
<main>
    <div class="post-header-wrapper">
        <header class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.image %}post-no-cover{% endunless %}{% if page.imageonpage == false %}post-no-cover{% endif %}" data-theme="{{ site.theme-color }}">
            <div class="post-header-inner">
                <div class="post-tags">
                    {% if page.tags.size > 0 %} 
                    {% for tag in page.tags  %}
                    <a href="/tags#{{ tag }}" class="post-tag">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                <h1>{{ page.title }}</h1>
                <div class="post-meta">
                    <span class="post-meta-item"><i class="iconfont icon-author"></i><!--<a href="{{ site.url }}" target="_blank" rel="author">-->{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}<!--</a>--></span>
                    <time class="post-meta-item" datetime="{{ page.date | date:"%y-%m-%d" }}"><i class="iconfont icon-date"></i>{{ page.date | date_to_string }}</time>
                </div>
            </div>
            <div class="post-header-sidebar-spacer"></div>
            <!--
            {% if page.image and page.imageonpage != false %}
            <div class="filter"></div>
            <div class="post-cover" style="background: url('{% if jekyll.environment == "production" %}https://cdn.statically.io/img/{% endif %}{{ site.urlhost }}{{ page.image }}?w=1500') center no-repeat; background-size: cover;">
            {% endif %}
            -->
        </header>
    </div>
    
    <div class="post-page-content">
        <div class="post-content">
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <article class="markdown-body" itemprop="articleBody">
                <!--
                {% if page.photoCred %}
                <aside class="photo-cred">Photo by <a href="https://unsplash.com/photos/{{page.photoCred[1]}}?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">{{page.photoCred[0]}}</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></aside>
                <br>
                {% endif %}
                -->
                {{ page.content }}
            </article>
            <section class="after-post">
                <div id="emojicom-widget-inline"></div>
                {% capture tags_str %}{{ page.tags  | join: "," }}{% endcapture %}
                {% unless tags_str contains "Other" %}
                {% capture lang %}{% if tags_str contains "JavaScript" %}JavaScript{% elsif tags_str contains "CSS" %}CSS{% elsif tags_str contains "HTML" %}HTML{% endif %}{% endcapture %}
                <!-- Now we don't need this because we have a sidebar with all the language tutorials. -->
                <!-- <blockquote style="text-align: center">
                    <a href="/learn/{{lang | downcase}}" style="text-decoration: none">&#x1F449; Click here for all {{lang}} tutorials... &#x1F448;</a>
                </blockquote> -->
                {% endunless %}
                {% include bmc.html %}
                {% if tags_str contains "HTML"  %}
                    <div class="freebie-hero promo">
                        {% include guide-to-learning-html-freebie-hero.html %}
                    </div>
                {% else %}
                    {% include newsletter.html %}
                {% endif %}
                <!-- <a href="//pluralsight.pxf.io/c/1354469/512013/7490" target="_blank" id="512013" class="pluralsight-banner"><img src="//a.impactradius-go.com/display-ad/7490-512013" border="0" alt="" width="970" height="250"/></a><img height="0" width="0" src="//pluralsight.pxf.io/i/1354469/512013/7490" style="position:absolute;visibility:hidden;" border="0" /> -->
            </section>
            {% if site.social-share %}
                <h3 class="share-title">Share the knowledge :)</h3>
                {% include share.html %}
            {% endif %}
        </div>
        <aside class="post-sidebar-wrapper">
            <aside class="post-sidebar">
                {% include codefund.html %}
                {% unless tags_str contains "Other" %}
                <h1>All {{lang}} Tutorials</h1>
                <ol>
                {% assign posts = site.posts | reverse %}
                {% assign listnum = 0 %}
                {% for url in site.learn[lang_downcase].tutorials %}
                {% for post in posts %}
                {% if post.url == url %}
                {% assign listnum = listnum | plus: 1 %}
                <li class="sidebar-post {% if post.slug == page.slug %}active{% endif %}"><a href="{{post.url}}"><span class="sidebar-post-number">{{listnum}}</span> <span class="sidebar-post-title">{{post.title}}</span></a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </ol>
                {% endunless %}
            </aside>
        </aside>
    </div>

    <section class="author-detail">
        <section class="post-footer-item author-card">
            <!-- <div class="avatar">
                <img src="/{{ site.avatar }}" alt="">
            </div> -->
            <div class="author-name" rel="author">By {{ site.author }}.</div>
            <div class="bio">
                <p>{{ site.bio }}</p>
            </div>
            {% if site.sns.size > 0 %}
            <ul class="sns-links">
                {% for s in site.sns %}
                <li>
                    <a href="{{ s[1] }}" target="_blank">
                        <i class="iconfont icon-{{ s[0] }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        <section class="post-footer-item read-next">
            {% if page.previous.url %} 
            <div class="read-next-item">
                <a href="{{ page.previous.url }}" class="read-next-link"></a>
                <section>
                   <p>Prev</p>
                    <span>{{ page.previous.title }}</span>
                    <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
                </section>
                {% if page.previous.image %}
                <div class="filter"></div>
                <img src="{% if jekyll.environment == "production" %}https://cdn.statically.io/img/{% endif %}{{site.urlhost}}{{ page.previous.image }}?w=355" alt="{{ page.previous.title }}" loading="lazy">
                {% endif %}
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="read-next-item">
                <a href="{{ page.next.url }}" class="read-next-link"></a>
                <section>
                   <p>Next</p>
                    <span>{{ page.next.title }}</span>
                    <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
                </section>
                {% if page.next.image %}
                <div class="filter"></div>
                <img src="{% if jekyll.environment == "production" %}https://cdn.statically.io/img/{% endif %}{{site.urlhost}}{{ page.next.image }}?w=355" alt="{{ page.next.title }}" loading="lazy">
                {% endif %}
            </div>
            {% endif %}
        </section>
        {% if site.disqus and jekyll.environment == "production" %}
        <a name="comments"></a>
        <section class="post-footer-item comment">
            <div id="disqus_thread"></div>
        </section>
        {% endif %}
    </section>
</main>

{% include footer.html %}
{% if jekyll.environment == "production" %}
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
/* disqus */
s.src = '{{ site.disqus_url }}';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% include end.html %}
<script>
    document.querySelectorAll(`pre.reveal`).forEach(pre => pre.addEventListener(`click`, function(e){
        e.target.classList.remove(`reveal`)
    }))
</script>
<script>
    console.log("Number of words: {{content | number_of_words}}");
</script>
<!-- Start emojicom.io widget -->
<!-- <script>
window.EMOJICOM_WIDGET = {
  campaign: "6T9WqFYaarL7LO1xq0la"
};
</script>
<script src="https://cdn.emojicom.io/embed/widget.js" async></script> -->
<!-- End emojicom.io widget -->
</body>
</html>